<form id="editpop" class="form-horizontal" action="updatekeywords" method="post">
  <div class="form-group">
      <span class="control-label col-sm-3">Level 1 Keyword</span>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="l1kw" name="l1kw" placeholder="Level 1 keyword">
      </div>
    </div>
    <br/>
    <div class="form-group">
      <span class="control-label col-sm-3">Level 2 keyword</span>
      <div class="col-sm-7">
        <input type="text" class="form-control" name="l2kw" id="l2kw" placeholder="Level 2 keyword">
      </div>
    </div>
    <br/>
    <div class="form-group">
      <span class="control-label col-sm-3">Level 3 Keyword</span>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="l3kw" name="l3kw" placeholder="Level 3 Keyword">
      </div>
    </div>
    <br/>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-4">
        <button class="btn btn-primary btn-lg btn-block">Save</button>
      </div>
    </div>
</form>
