<div class="panel-body">
                	<style>
th.id { width: 3em; }
th.last-login { width: 11em; }
th.status { width: 10em; }
</style>
<div class="well shallow-well">
	<span class="filter-link-list">
		Username starts with: <a href="/users/filter/first_letter-A">A</a>
<a href="/users/filter/first_letter-B">B</a>
<a href="/users/filter/first_letter-C">C</a>
<a href="/users/filter/first_letter-D">D</a>
<a href="/users/filter/first_letter-E">E</a>
<a href="/users/filter/first_letter-F">F</a>
<a href="/users/filter/first_letter-G">G</a>
<a href="/users/filter/first_letter-H">H</a>
<a href="/users/filter/first_letter-I">I</a>
<a href="/users/filter/first_letter-J">J</a>
<a href="/users/filter/first_letter-K">K</a>
<a href="/users/filter/first_letter-L">L</a>
<a href="/users/filter/first_letter-M">M</a>
<a href="/users/filter/first_letter-N">N</a>
<a href="/users/filter/first_letter-O">O</a>
<a href="/users/filter/first_letter-P">P</a>
<a href="/users/filter/first_letter-Q">Q</a>
<a href="/users/filter/first_letter-R">R</a>
<a href="/users/filter/first_letter-S">S</a>
<a href="/users/filter/first_letter-T">T</a>
<a href="/users/filter/first_letter-U">U</a>
<a href="/users/filter/first_letter-V">V</a>
<a href="/users/filter/first_letter-W">W</a>
<a href="/users/filter/first_letter-X">X</a>
<a href="/users/filter/first_letter-Y">Y</a>
<a href="/users/filter/first_letter-Z">Z</a>
	</span>
</div>
<ul class="nav nav-tabs borderNONE">
	<li><a href='../../admin/users'>All Users</a></li>
	<li><a href= '../../admin/users/inactive'>Inactive</a></li>
	<li><a href= '../../admin/users/banned'>Banned</a></li>
	<li><a href='../../admin/users/deleted'>Deleted</a></li>
	</ul>

</div>
