<form id="uploadForm" name="uploadForm" role="form" action="/uploads/photo" method="post" enctype="multipart/form-data">
  <input type="file" name="userPhoto" id="userPhoto"/>
  <br/>
  <input type="submit" value="Upload File" name="submit"/>
</form>
